/* alert popup */
.alert {
    background-color: rgb(219, 236, 242);
    display: none;
    padding: 40px;
    word-spacing: 10px;
    position: fixed;
    text-align: center;
    color: black;
    height: 20rem;
    width: 50%;
    top: 25%;
    left: 25%;
    z-index: 2;
  }
  .alert p{
      font-size: 3rem;
  }
  .closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .closebtn:hover {
    color: rgb(17, 17, 232);;
  }

/* top nav  */
.top-left, .top-center, .top-right{
    display: inline;
    position: absolute;
    top: 1rem;
    font-size: 14px;
    font-weight: 500;
}
.top-left{
    top: .5rem;
     left: 2.5rem;
}
.top-center{
    top: .5rem;
    left: 50%;
    
}
.top-right{
    top: .5rem;
    right: 2rem;
}
.top-link{
    color: rgb(15, 16, 17);;
    text-decoration: none;  
}

/* middle nav bar  */
.navbar-middle{
    background-color: #f8f9fa;
    padding-left: 1rem;
}
.navbar-middle .navbar{
    margin-top: 2.4rem;
    padding: 1rem;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
}
.navbar-middle .btn{
    color: white;
    background-color:rgb(17, 17, 232) ;
}
.navbar-middle .nav-item{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
.dropdown-btn{
    margin-right: -30px;
}
.search-btn{
    margin-left: -30px;
}
#cart1{
    display: inline;
}
#cart2{
    display: none;
}

/* bottom navbar  */
.navbar-bottom{
    background-color: rgb(17, 17, 232);
}
.navbar-bottom .navbar{
    padding: 0;
}
.bottom-nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.nav-item .active{
    color: black;
    background-color: orange;
    margin: 0 10px 0 10px;
}
.all-department-span{
    background-color: orangered;
    color: white;
    position: relative;
    font-size: 10px;
    bottom: 24px;
    left: 15px;
    padding: 3px;
}
.blog-nav-link{
    margin-right: 1rem;
}
.mega-menu-span{
    background-color: orange;
    color: black;
    position: relative;
    font-size: 10px;
    bottom: 20px;
    right: 24px
}

/* title  */
#title{
    padding: 1rem 2rem ;
}

    /* caurosel  */
.caurosel-img{
    border-radius: 4px;
    width: 100%;
    height: 25rem;
}
.carousel-item1-text{
    position: absolute;
    color: white;
    left: 54%;
    top: 41%;
    width: 42%;
}
.carousel-item-1 .new-arival-btn{
    background-color: rgb(17, 17, 232);
    color: white;
    padding: 3px 10px;
    position: absolute;
    text-decoration: none;
    left: 54%;
    top: 32%;
}
.carousel-item-1 .shop-now-btn{
    border-color: white;
    color: white;
    padding: 3px 10px;
    position: absolute;
    text-decoration: none;
    left: 54%;
    top: 74%;
}
.carousel-indicators{
    position: absolute;
    right: 63%
}

    /* blog  */
.blog-container img{
    border-radius: 4px;
    height: 12rem;
    width: 100%;
}
.blog1-content{
    width: 27%;
    color: white;
    position: absolute;
    left: 10%;
    top: 14%;
    z-index: 1;
}
.blog2-content{
    width: 39%;
    color: white;
    position: absolute;
    left: 56%;
    top: 16%;
    z-index: 1;
}
.blog a{
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
}

/* features */
#features{
    color: white;
    background-color: rgb(15, 16, 17);
    text-align: center;
    padding: 1.5rem 5rem 1rem 5rem ;
}

#features p{
    line-height: 4px;
    color: gray;
}


/* why us and featured products  */
#why-us, #featured-products{
    text-align: center;
    line-height: 2rem;
}
#why-us a{
    text-decoration: none;
}
#featured-products{
        background-color: #f7f7f7;
        margin-top: 3rem;
}

.why-us-div, .featured-products-div{
   padding: 3rem 10rem; 
}
.why-us-heading, .featured-products-heading{
    font-size: 2.5rem;
    font-weight: 700; 
}
.why-us-hr, .featured-products-hr {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-top: 3px solid gray;
    width: 4rem;
}
.why-us-content, .featured-products-content{
    color: gray;
    font-size: 1.5rem;
}

/* cetagories */
#cetagories{
    text-align: center;
}
#cetagories .btn{
    font-weight: 500;
    margin-bottom: 3rem;
}
#cetagories .active{
    color: white;
    background-color: rgb(17, 17, 232);
}
.cetagories-type{
    padding: 0rem 0rem 0 4rem;
}
.card-img-top{
    height: 100%;
}
.cetagories-type-btn{
    text-decoration: none;
    background-color: white;
    border: 1px solid white;
    border-radius: 3px;
    color: black;
    font-weight: 700;
    padding: 0 8px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.cetagories-type-btn:link{
    text-decoration: none;
}

/* product  */
.product-img{
    height: 10rem;
}
.products .card-body{
    height: 16rem;
    padding: 1.25rem 1.25rem 0 1.25rem;
}
.products strong{
    color: red;
}
.products sub s{
    color: gray;
}
.checked{
    color: orange;
}
.products .fa{
    font-size: .8rem;
}
.num-of-users{
    color: gray;
    font-size: .8rem;
    font-weight: 500;
}


@media (min-width: 992px){
    /* top nav  */
    .top-right{
        right: 5rem;
    }
    /* middle nav bar  */
    .dropdown-btn{
        margin-right: 0;
    }
    .search-btn{
        margin-left: 0;
    }
    #cart1{
        display: none;
    }
    #cart2{
        display: inline;
    }
}

@media (max-width: 991px){

    .blog-container{
        padding: 26px;
    }
    .blog1{
        margin-top: .5rem;
    }
}